.canvas {
  width: 100vw;
  height: 95vh;
  margin: 0;
  padding: 0;
  text-align: center;
}

.dot {
  width: 30px;
  height: 30px;
  position: absolute;
  background-color: red;
  border-radius: 50%;
}

.buttons {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  border-bottom: 0.1rem solid;
}
